/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/blog/index.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

.blog_openSans__aelPq {
    font-family: 'Open Sans', sans-serif;
}

.blog_manrope__pQQot {
    font-family: 'Manrope', sans-serif;
}

.blog_boldo__Eh4s0 {
  position: absolute;
  height: 100%;
  width: 77.08%;
  top: 0;
  left: 22.92%;
  line-height: 33.64px;
  display: flex;
  align-items: center;
}
.blog_logoShapeChild__dtvwe,
.blog_logoShapeItem__4O3X8 {
  position: absolute;
  height: 53.33%;
  width: 100%;
  top: 46.67%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 12.01px 12.01px 0;
  background-color: var(--dark-blue);
}
.blog_logoShapeItem__4O3X8 {
  height: 40%;
  width: 69.57%;
  top: 0;
  right: 30.43%;
  bottom: 60%;
}
.blog_logo__18wLr,
.blog_logoShape__PTB1R {
  position: absolute;
  height: 78.95%;
  width: 15.97%;
  top: 13.16%;
  right: 84.03%;
  bottom: 7.89%;
  left: 0;
}
.blog_logo__18wLr {
  height: 100%;
  width: 13.52%;
  top: 0;
  right: 86.48%;
  bottom: 0;
}
.blog_product__DIQKC {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.blog_startNow__JqXAg {
  position: relative;
  line-height: 24px;
}
.blog_navigation__746B9,
.blog_startNowWrapper__QSi8N {
  display: flex;
  flex-direction: row;
}
.blog_startNowWrapper__QSi8N {
  border-radius: var(--br-5xl);
  border: 2px solid var(--dark-blue);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-21xl);
}
.blog_navigation__746B9 {
  position: absolute;
  height: 95.24%;
  width: 34.92%;
  top: 2.38%;
  right: 0.7%;
  bottom: 2.38%;
  left: 64.39%;
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
  font-size: var(--paragraphs-text-xs-size);
  font-family: var(--paragraphs-text-xs);
}
.blog_logoParent__1nHJ9 {
  position: absolute;
  top: 56px;
  left: 100px;
  width: 1200px;
  height: 42px;
  font-size: 43.25px;
  font-family: var(--headings-textxxxl);
}
.blog_featuredArticleChild___eBG1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 600px);
  border-radius: var(--br-5xl);
  max-height: 100%;
  width: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog_category__mfbzz,
.blog_november222021__2KGRJ {
  position: relative;
  line-height: 28px;
}
.blog_november222021__2KGRJ {
  color: var(--gray);
}
.blog_categoryParent__gPujV {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.blog_pitchTermsheetBacking__48jZq {
  position: relative;
  font-size: var(--headings-text-xxl-size);
  line-height: 72px;
  font-family: var(--headings-textxxxl);
  color: var(--color-black);
  display: inline-block;
  width: 543px;
  height: 145px;
  flex-shrink: 0;
}
.blog_frameGroup__scgs_ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.blog_frameChild__gmBhv,
.blog_johnDoe__2IRXr {
  position: relative;
  height: 32px;
}
.blog_frameChild__gmBhv {
  border-radius: 50%;
  width: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog_johnDoe__2IRXr {
  line-height: 28px;
  display: inline-block;
  width: 300px;
  flex-shrink: 0;
}
.blog_ellipseParent__fBkxy,
.blog_frameParent__hxHkD {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blog_ellipseParent__fBkxy {
  flex-direction: row;
  gap: var(--gap-xs);
  color: var(--color-black);
}
.blog_frameParent__hxHkD {
  position: absolute;
  top: 70px;
  left: 650px;
  width: 550px;
  height: 247px;
  flex-direction: column;
  gap: var(--gap-xl);
}
.blog_featuredArticle__ckoS9 {
  position: absolute;
  height: 12.1%;
  top: 11.47%;
  bottom: 76.43%;
  left: calc(50% - 600px);
  width: 1200px;
}
.blog_ourBlog__4tpVC {
  position: relative;
  line-height: 32px;
}
.blog_heading__cRmtx,
.blog_valuePropositionAccelerator__12u5P {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog_valuePropositionAccelerator__12u5P {
  position: relative;
  font-size: var(--headings-textxxxl-size);
  line-height: 84px;
  font-family: var(--headings-textxxxl);
  text-align: center;
  width: 842px;
}
.blog_heading__cRmtx {
  position: absolute;
  top: 143px;
  left: 256px;
  width: 888px;
  height: 183px;
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--paragraphs-text-s-size);
}
.blog_articleChild__bYsh3 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  height: 209px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog_seedRoundDirect__z6U84 {
  position: relative;
  font-size: var(--paragraphs-text-s-size);
  line-height: 32px;
  color: var(--color-black);
  display: inline-block;
  width: 300px;
  height: 99px;
  flex-shrink: 0;
}
.blog_article__j15dP,
.blog_frameContainer__wX8PB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.blog_article__j15dP {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  gap: var(--gap-5xl);
}
.blog_articleItem__n4S_g {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xl);
  max-width: 100%;
  overflow: hidden;
  height: 209px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog_article1__6frEq,
.blog_article2__IZhAL {
  position: absolute;
  top: 0;
  left: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.blog_article2__IZhAL {
  left: 700px;
  width: 298px;
}
.blog_articlesRow__cUX2u,
.blog_articlesRow1__eSFGp,
.blog_divider__sQxIi {
  position: absolute;
  top: 1033px;
  left: 201px;
  width: 998px;
  height: 424px;
}
.blog_articlesRow1__eSFGp,
.blog_divider__sQxIi {
  top: 1537px;
  left: 200px;
}
.blog_divider__sQxIi {
  top: 824px;
  left: 100px;
  background-color: var(--dark-blue);
  width: 1200px;
  height: 1px;
}
.blog_buttons__Vb85g,
.blog_latestNews__laQI4 {
  position: absolute;
  display: flex;
  align-items: center;
}
.blog_latestNews__laQI4 {
  top: 28.87%;
  left: calc(50% - 498px);
  font-size: var(--headings-text-xxl-size);
  line-height: 72px;
  font-family: var(--headings-textxxxl);
  color: var(--color-black);
  width: 842px;
}
.blog_buttons__Vb85g {
  top: 2055px;
  left: 589px;
  border-radius: var(--br-37xl);
  border: 2px solid var(--dark-blue);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-base) var(--padding-37xl);
  font-size: var(--paragraphs-text-s-size);
}
.blog_callToActionChild__o623Z {
  height: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-xs);
  background-color: var(--dark-blue);
}
.blog_anEnterpriseTemplate__WDuqt,
.blog_callToActionChild__o623Z,
.blog_maskGroupIcon__fe3uZ {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.blog_maskGroupIcon__fe3uZ {
  height: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.blog_anEnterpriseTemplate__WDuqt {
  height: 56.28%;
  line-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog_groupChild__17NHQ {
  position: absolute;
  height: 107.14%;
  width: 101.08%;
  top: -3.57%;
  right: -0.54%;
  bottom: -3.57%;
  left: -0.54%;
  border-radius: var(--br-221xl);
  background-color: var(--white);
  border: 2px solid var(--white);
  box-sizing: border-box;
}
.blog_yourEmailAddress__ryLnP {
  position: absolute;
  top: 21.43%;
  left: 8.65%;
  line-height: 32px;
}
.blog_buttons1__QIz41,
.blog_rectangleParent__82P6I {
  position: absolute;
  height: 93.33%;
  width: 61.26%;
  top: 3.33%;
  right: 38.74%;
  bottom: 3.33%;
  left: 0;
}
.blog_buttons1__QIz41 {
  height: 106.67%;
  width: 35.43%;
  top: -3.33%;
  right: -0.33%;
  bottom: -3.33%;
  left: 64.9%;
  border-radius: var(--br-37xl);
  background-color: var(--green);
  border: 2px solid var(--green);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-37xl);
  text-align: left;
  color: var(--dark-blue);
}
.blog_groupParent__XdI4J {
  position: absolute;
  height: 24.29%;
  width: 84.36%;
  top: 75.71%;
  right: 7.82%;
  bottom: 0;
  left: 7.82%;
  font-size: var(--paragraphs-text-s-size);
  color: var(--color-black);
  font-family: var(--paragraphs-text-xs);
}
.blog_groupWrapper__rIXHO {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.blog_callToActionInner__zLNes {
  position: absolute;
  height: 63.17%;
  width: 59.67%;
  top: 18.41%;
  right: 20.17%;
  bottom: 18.41%;
  left: 20.17%;
}
.blog_callToAction__ULaJP,
.blog_footerChild__FOJzm {
  position: absolute;
  top: 0;
  left: 100px;
  width: 1200px;
  height: 391px;
}
.blog_footerChild__FOJzm {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
}
.blog_logo1__GEK7S {
  position: absolute;
  height: 8.65%;
  width: 11.14%;
  top: 21.1%;
  right: 81.71%;
  bottom: 70.25%;
  left: 7.14%;
  font-size: 43.25px;
  color: var(--dark-blue);
  font-family: var(--headings-textxxxl);
}
.blog_allRightsReserved__Qo44f,
.blog_socialMediaValidation__CNU_D {
  position: absolute;
  width: 21.43%;
  top: 38.19%;
  left: 7.14%;
  line-height: 28px;
  display: flex;
  align-items: center;
}
.blog_allRightsReserved__Qo44f {
  width: 17.86%;
  top: 69.41%;
}
.blog_home__q1UA9 {
  margin: 0;
}
.blog_homeProductsServicesContainer1__Kf1qk {
  line-break: anywhere;
  width: 100%;
}
.blog_homeProductsServicesContainer__S8j6B,
.blog_landings__bMzXM {
  position: absolute;
  height: 71.67%;
  width: 23.36%;
  top: 28.33%;
  left: 0;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.blog_landings__bMzXM {
  height: 15%;
  top: 0;
  color: var(--color-black);
}
.blog_homeCareersServicesContainer___HnFS {
  height: 71.67%;
  top: 28.33%;
  left: 38.32%;
}
.blog_blogProductsServicesContainer__sC76_,
.blog_company__l9ymt,
.blog_homeCareersServicesContainer___HnFS,
.blog_resources__ClxYf {
  position: absolute;
  width: 23.36%;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.blog_company__l9ymt {
  height: 15%;
  top: 0;
  left: 38.32%;
  color: var(--color-black);
}
.blog_blogProductsServicesContainer__sC76_,
.blog_resources__ClxYf {
  height: 71.67%;
  top: 28.33%;
  left: 76.64%;
}
.blog_resources__ClxYf {
  height: 15%;
  top: 0;
  color: var(--color-black);
}
.blog_footerInner___3E7z {
  position: absolute;
  height: 50.63%;
  width: 45.86%;
  top: 21.1%;
  right: 12.79%;
  bottom: 28.27%;
  left: 41.36%;
  font-size: var(--paragraphs-text-s-size);
}
.blog_hiringWrapper__mMrQe {
  position: absolute;
  top: 241px;
  left: 911px;
  border-radius: var(--br-101xl);
  background-color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-sm);
  font-size: var(--font-size-smi);
  color: var(--dark-blue);
}
.blog_footer__1Nova,
.blog_footerCta__RJjwC {
  position: absolute;
  top: 475px;
  left: 0;
  width: 1400px;
  height: 474px;
  text-align: left;
  font-size: var(--paragraphs-text-xs-size);
  color: var(--gray);
  font-family: var(--paragraphs-text-xs);
}
.blog_footerCta__RJjwC {
  top: 2241px;
  height: 949px;
  overflow: hidden;
  text-align: center;
  font-size: var(--headings-text-xxl-size);
  color: var(--white);
  font-family: var(--headings-textxxxl);
}
.blog_blog__Vnjql {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 3190px;
  /* overflow: hidden; */
  text-align: left;
  font-size: var(--paragraphs-text-xs-size);
  color: var(--dark-blue);
  font-family: var(--paragraphs-text-xs);
  padding-left: 100px;
  padding-right: 100px;
}

